{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Quiz {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.png' %}">
</head>
<body class="container">
    {% block header %}
        {% include 'include/header.html' %}
    {% endblock %}

    {% block content %} {% endblock %}

    {% block footer %}

    {% endblock %}
</body>
</html>