{% extends 'base.html' %}

{% block title %}Let's quiz it!{% endblock %}

{% block content %}
    <div class="question__list">

        {% if request.user.is_staff %}
            <a class="staff__groups" href="{% url 'add-question' %}" class="staff__link">Add a new question</a>
        {% endif %}

        {% include 'include/pagination.html' %}

        <form action="" method="POST" class="question__form">
            {% csrf_token %}
            {% for question in questions %}
                <div class="question">
                    <div class="question__title">{{ question.question }}</div>
                    <div class="question__options">
                        <div class="form__check">
                            <input type="radio" class="question__option" value="option1" id="radio1">
                            <label for="radio1" class="form__label">
                                {{ question.option3 }}
                            </label>
                        </div>
                        <div class="form__check">
                            <input type="radio" class="question__option" value="option2" id="radio2">
                            <label for="radio2" class="form__label">
                                {{ question.option2 }}
                            </label>
                        </div>
                        <div class="form__check">
                            <input type="radio" class="question__option" value="option3" id="radio3">
                            <label for="radio3" class="form__label">
                                {{ question.option3 }}
                            </label>
                        </div>
                        <div class="form__check">
                            <input type="radio" class="question__option" value="option4" id="radio4">
                            <label for="radio4" class="form__label">
                                {{ question.option4 }}
                            </label>
                        </div>
                    </div>
                {% endfor %}
            </div>
        <input id='timer' type='hidden' name="timer" value="">
        <button type="submit" class="btn">Submit answer</button>
        </form>
    </div>
{% endblock %}