{% extends 'base.html' %}
{% load static %}
{% block title %}Let's quiz it!{% endblock %}

{% block content %}
    <div class="question__list">

<!--        staff buttons-->
        {% if request.user.is_staff %}
            <a href="{% url 'add-question' %}" class="staff__groups staff__link">Add a new question</a>
            {% if questions %}
                <a href="{% url 'add-answer' %}" class="new-answer__link">Add a new answer</a>
            {% endif %}
        {% endif %}

<!--        Pagination-->
        {% include 'include/pagination.html' %}

<!--        Send answers form-->
        <form action="" method="POST" class="question__form">
            {% csrf_token %}
            {% for question in questions %}
                <div class="question">
                    <div class="question__title">{{ question.text }}</div>
                    <div class="question__options">
                        {% for answer in question.answer_set.all %}
                        <div class="form__check">
                            <input type="checkbox" class="question__option checkbox" value="option{{ answer.pk }}" id="radio{{ answer.pk }}">
                            <label for="radio{{ answer.pk }}" class="form__label">
                                {{ answer.text }}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
            {% endfor %}
            </div>
            <button type="submit" class="btn disabled" id="btn">Submit answer</button>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/disableButton.js' %}" type="text/javascript"></script>
{% endblock %}

{% block footer %} {% endblock %}