{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="group__list">
        <div class="search">
            <input type="search" id="search-field" class="search__input" placeholder="Enter a group name">
        </div>
        {% if request.user.is_staff %}
            <a class="staff__groups" href="{% url 'add-group' %}">Add a new group</a>
        {% endif %}

         <div class="total__groups">
             <p class="total__title">Available tests: {{ total_groups }}</p>
             {% for group in latest_added_groups %}
                 <a href="{% url 'group' pk=group.pk %}" class="total__list link">
                    {{ group.group_name }}
                 </a>
             {% endfor %}
             <p class="total__ending">Latest tests</p>
         </div>

        {% for group in groups %}
        <div class="group">
            <div>
                <p class="group__title"><a href="{% url 'group' pk=group.pk %}" class="link">{{ group.group_name }}</a></p>
                <p class="group__description">{{ group.description }}</p>
            </div>
            <a href="{{ group.get_absolute_url }}" class="group__btn">Attempt Quiz</a>
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/searchBar.js' %}" type="text/javascript"></script>
{% endblock %}