* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: #8D72E1;
    height: 70px;
}

.nav__li {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.link {
    font-size: 1.5em;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}

.link:hover {
    color: #44f5b1;
}

.staff__link {
    text-decoration: none;
    text-align: center;
}

.staff__groups {
    font-size: 2em;
    color: #fff;
    font-weight: 300;
    background-color: #8D9EFF;
    border-bottom: 3px solid orange;
    height: 1.6em;
    width: 7em;
    text-align: center;
    border-radius: 0.2em;
    position: absolute;
    left: 80%;
    top: 1%;
    text-decoration: none;
    transition: 0.5s;
}

.staff__groups:hover {
    transition: 0.5s;
    background-color: orange;
    left: 78.5%;
    width: 8em;
    font-size: 2.2em;
    border: none;
}

.auth__links {
    display: flex;
    flex-direction: row;
}

.auth__links .nav__li {
    margin: 0em 0.5em;
}

.user {
    font-size: 1.5em;
    color: #44f5b1;
}

.group__list {
    position: relative;
    background-image: url('/static/background.svg');
    background-repeat:no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 899px;
    padding: 2.5em;
    flex-wrap: wrap;
    align-content: flex-start
}

.total__groups {
    font-size: 2em;
    color: #fff;
    position: absolute;
    font-weight: 300;
    left: 6.8%;
    top: 1%;
    background-color: #8D9EFF;
    height: 1.6em;
    width: 7em;
    text-align: center;
    border-radius: 0.2em;
}

.group {
    padding: 0.5em;
    background-color: #8D9EFF;
    width: 280px;
    height: 10%;
    margin: 2em;
    border-bottom-left-radius: 3em;
    border-top-right-radius: 3em;
    overflow: hidden;
    transition: 0.5s;
    border-bottom: 3px solid #44f5b1;
}

.group:hover {
    height: 30%;
    background-color: #44f5b1;
    transition: 0.5s;
}

.group:hover .group__title {
    border-bottom: 2px solid #6C4AB6;
}

.group:hover .link {
    color: #6C4AB6;
}

.group:hover .group__description {
    color: #6C4AB6;
}

.group__title {
    padding: 10px;
    font-size: 1.2em;
    text-align: center;
}

.group__description {
    padding: 10px;
    font-size: 1.2em;
    text-align: justify;
    color: #fff;
}
/* Styles of personal group of test page */
.question__list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: auto;
}

.question {
    margin: 2em 0em;
    padding: 0.5em;
    width: 800px;
    height: 500px;
    background-color: #fff;
    text-align: center;
}

.question__title {
    font-size: 2.5em;
    padding: 15px;
    border-bottom: 2px solid #8D72E1;
}

.question__options {
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
    text-justify: justify;
}

.question__option {
    margin: 5px;
    padding: 10px;
    font-size: 1.5em;
    background-color: #D6E4E5;
}

.form__check {
    font-size: 1.3em;
    margin: 5px 0px;
}

/* Question pagination styles */
.pagination-section {
    position: absolute;
    margin: 10px;
    right: 80%;
}

.pagination__title {
    font-size: 2em;
    font-weight: 300;
    margin: 10px 0px;
}

.pagination-link {
    background-color: #7879F1;
    color: #fff;
    padding: 3px 11px 4px 11px;
    border-radius: 50%;
    text-decoration: none;
}

.page-num-selected {
    background-color: #44f5b1;
    color: #5D5FEF;
}

.disabled {
    background-color: #dddddd;
    color: linen;
    opacity: 1;
    cursor: not-allowed;
    pointer-events: none;
    color: #909090;
}

.background {
    background-image: url('/static/background.svg');
    background-repeat:no-repeat;
    background-size: cover;
    height: 969px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__card {
    width: 350px;
    height: 400px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0.2em;
}

.login__title {
    text-align: left;
    font-size: 1.5em;
    margin-bottom: 50px;
}

.login__input {
    padding: 15px;
    margin-bottom: 5px;
    width: 300px;
    border: none;
    border-bottom: 2px solid #8D72E1;
}

.login__input:focus {
    outline: none;
}

.form__controls {
    text-align: center;
    margin-bottom: 50px;
}

.login__new-account {
    margin: 10px;
    font-size: 1.05em;
}

.login__new-account a {
    text-decoration: none;
    color: #8D72E1;
    transition: 0.2s;
}

.login__new-account a:hover {
    color: #8D72E1;
    border-bottom: 2px solid #44f5b1;

}

.signup__card {
    width: 350px;
    height: 500px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0.2em;
}

.form__label {
    font-size: 1.3em;
    font-weight: 300;
}

input[type="radio"] {

}

.question__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Result page styles */
.result__page {
    width: 100%;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1.5s;
    background-color: #fff;
}

.result__card {
    background-color: #8D72E1;
    border-radius: 0.5em;
    width: 400px;
    height: 500px;
    justify-self: center;
    border: none;
    transition: 1s;
}

.result__card:hover {
    width: 800px;
    height: 600px;
    border: 10px solid #44f5b1;
    transition: 0.5s;
}

.result__card:hover .result__title {
    font-size: 4em;
    transition: 0.5s;
    border-bottom: 10px solid #44f5b1;
    color: #44f5b1;
}

.result__card:hover .result__elem {
    font-size: 3em;
    transition: 0.5s;
    margin: 0px 20px;
    color: #44f5b1;
}

.result__title {
    text-align: center;
    color: #fff;
    font-size: 2em;
    transition: 1s;
    border-bottom: 3px solid #fff;
}

.result__elem {
    font-size: 1.5em;
    color: #fff;
    margin: 20px;
    transition: 1s;
}

/* Add question page styles */
.add-question__page {
    width: 100%;
    height: 899px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-question__title {
    font-size: 2em;
    text-align: center;
    font-weight: 300;
    border-bottom: 3px solid #8D72E1;
}

.card__body {
    min-height: 100px;
    padding: 2em;
}

.add-question__form p input {
    padding: 0.5em 1em;

}

.add-question__form p {
    margin: 0.5em;
}

.btn {
    border: none;
    border-radius: 0.2em;
    background-color: #8D72E1;
    padding: 10px;
    color: #fff;
    text-align: center;
    width: 300px;
    font-size: 1.3em;
    transition: 0.5s;
}

.btn:hover {
    cursor: pointer;
    background-color: #44f5b1;
    color: #8D72E1;
}
